exportPattern("^[[:alpha:]]+")
import(org.Hs.eg.db)
importFrom(MASS,fitdistr)
importFrom(MASS,glm.nb)
importFrom(Matrix,Matrix)
importFrom(VGAM,dzinegbin)
importFrom(bbmle,mle2)
importFrom(pscl,zeroinfl)
importFrom(glmmTMB,glmmTMB)
importFrom(gamlss,gamlssML)
importFrom(stats,p.adjust)
importFrom(stats,pchisq)
importFrom(stats,plogis)
importFrom(DESeq2,DESeqDataSetFromMatrix)
importFrom(DESeq2,DESeq)
importFrom(DESeq2,counts)
importFrom(limma,normalizeBetweenArrays)
importFrom(sctransform,vst)
importFrom("stats", "approx", "dpois", "glm", "lm", "median")
importFrom("stats", "spline")
